<div class="row mb-3">
    <div class="accordion" id="accordionExample">
        {{ include('resources/quizz/tpl_questions.html.twig', {idQ:'1'})}}
    </div>
</div>
<div class="col-xl-12">
    <button class="btn btn-secondary px-5">Ajouter un élément</button>
</div>